{% extends "museums/base.html" %}

{% block home %}
    <li><a id="homenav" href="/">Inicio</a></li>
{% endblock %}

{% block content %}

    </section>
        <h1>Sobre esta página</h1>
        <p>Esta página ha sido creada como práctica final de la asignatura
           Servicios y Aplicaciones Telemáticas, impartida en el Grado
           en Ingeniería en Tecnologías de las Telecomunicaciones de la
           Universidad Rey Jaun Carlos de Madrid por los reputados
           profesores Don Gregorio Robles Martínez
           y Don Jesús María González Barahona. </p></br>

        <p>El funcionamiento básico de esta práctica se puede leer en
        <a href="http://cursosweb.github.io/programas/ITT-SAT.pdf">
           este enlace</a> aunque la práctica ha sido diseñada
           para que su uso sea intutivo y autoexplicativo.</p></br>


        <p>El autor, Don Rodrigo Pacheco, es conocido en el mundo
           taurino como "El Mosquito de Aranjuez".</p></br>
        <p>Pueden encontrar más información en su
        <a href="https://sombreroazul.wordpress.com/">blog</a>
           o en su nada recomendable
        <a href="https://github.com/rodrigo-pacheco">cuenta Github</a></p></br>

        <p>Si así lo desean, pueden ponerse en contacto utilizando la
           siguiente dirección de correo electrónico:
        <b><u>r.pachecom at alumnos dot urjc dot es</b></u>. Improperios y
           demás comentarios que atenten contra el reputado honor que este
           caballero se ha labrado con señorío y galantería no sólo no
           serán atendios, sino que serán puestos en conocimiento de la
           autoridad pertinente.</p></br>

    </section>

{% endblock %}
