<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
<link href="/static/style.css" rel="stylesheet" type="text/css">
<title>Museos de Madrid</title>
</head>

<body id="home">

<div id="container">

    <div id="watermark">
         <p>Created by Rodrigo Pacheco</p>
    </div>


    <div id="header">
        <div id="user_login" style="float:right">
            {% if aut %}
                <h3>Bienvenido {{ name }}</h3>
                <a class="boton" href="logout">Logout</a>
            {% else %}
                <form method="post" action="login">
                    <input class="textbox" type="text" name="username" placeholder="Nombre">
                    <input class="textbox" type="password" name="password" placeholder="Contraseña">
                    <!-- <a class="boton" href="register">Registrarse</a> -->
                    <input class="boton" type="submit" value="Login">
                </form>
            {% endif %}
        </div>
         <h1>Museos de Madrid</h1>
         <div id="banner">                                                      <!-- Help from: https://docs.djangoproject.com/en/1.11/howto/static-files/ -->
             {% load static %}
             <img src="{% static "banner.jpg" %}" alt="Banner"/>
         </div>
    </div>


    <ul id="nav">
        <li><a id="homenav" href="/">Inicio</a></li>
        <li><a id="linksnav" href="/museums">Museos</a></li>
        <li><a id="contactnav" href="/about">About</a></li>
    </ul>


    <div id="sidebar">

        <h3>Páginas de usuarios</h3>
        {{ users|safe }}                                                        <!-- Help from: 'safe: Marks a string as not requiring further HTML escaping prior to output. When autoescaping is off, this filter has no effect.' https://djangobook.com/builtin-template-tags-filters/-->

    </div>


	<div id="content">
        {% block content %}{% endblock %}
	</div>


    <div id="footer">
        <p> Este sitio usa datos del
        <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">
           ayuntamiento de Madrid</a> - Aquí puede encontrar su
        <a  href="https://datos.madrid.es/FWProjects/egob/Catalogo/Empleo/Ficheros/Estructura_DS_ConjuntoDatos_OFICINA_EMPLEO.pdf">explicación</a>
        </p>

        <p>
        Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        </p>

        <p>&copy; 2018 Rodrigo Pacheco | template design by <a href="http://www.webtom.be">webtom.be</a></p>
    </div>

</div>

</body>
</html>
