<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
<link href="style.css" rel="stylesheet" type="text/css">
<title>webtom grey</title>
</head>

<body id="home">

<div id="container">

    <div id="watermark">
         <p>your homepage url</p>
    </div>

    <div id="header">
         <h1>Museos de Madrid</h1>
    </div>

    <ul id="nav">
        <li><a id="homenav" href="/">Inicio</a></li>
        <li><a id="linksnav" href="/museums">Museos</a></li>
        <li><a id="contactnav" href="/about">About</a></li>
    </ul>

    <div id="sidebar">
        <h1>Menu</h1>
        <ul id="sidebarnav">
            <li><a href="#">a link</a></li>
            <li><a href="#">another link</a></li>
        </ul>
    </div>

		<div id="content">

     <h1>Content</h1>
     <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Sed ultrices risus sit amet lectus. Cras vulputate augue in enim.
        Cras feugiat diam non odio suscipit rutrum. Nullam quam arcu,
        tincidunt eget, varius ac, semper non, massa.

        Sed lorem leo,
        gravida ut, mattis vitae, suscipit id, enim. Sed ac metus et
        lectus semper varius. Morbi posuere rutrum ante. Etiam ac purus.
        Sed mattis aliquam tortor. Duis facilisis tellus placerat lorem.
     </p>
     <h2>Content</h2>
     <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Sed ultrices risus sit amet lectus. Cras vulputate augue in enim.
        Cras feugiat diam non odio suscipit rutrum. Nullam quam arcu,
        tincidunt eget, varius ac, semper non, massa.

        Sed lorem leo,
        gravida ut, mattis vitae, suscipit id, enim. Sed ac metus et
        lectus semper varius. Morbi posuere rutrum ante. Etiam ac purus.
        Sed mattis aliquam tortor. Duis facilisis tellus placerat lorem.
     </p>

		</div>

    <div id="ads">
         <p>Space reserved for text advertisements</p>
    </div>

    <div id="footer">
        <p>
        <a href="#">Privacy</a> | <a href="#">Terms</a>
        </p>

        <p>
        Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        </p>

        <p>&copy; 2007 your copyphrase | template design by <a href="http://www.webtom.be">webtom.be</a></p>
    </div>





</div>

</body>
</html>
