{% extends "museums/base.html" %}


{% block home %}
    <li><a id="homenav" href="/">Inicio</a></li>
{% endblock %}


{% block content %}

    <section>

        <h1>{{ museum.name }}                                            </br></h1>
        <p> {{ museum.description}}                                      </br></p>
        <p><b><u>Dirección:     </u></b> {{ museum.address}}             </br></p>
        <p><b><u>Horario:       </u></b> {{ museum.open_hours}}          </br></p>
        <p><b><u>Transporte:    </u></b> {{ museum.transport}}           </br></p>
        <p><b><u>Accesibilidad: </u></b> {{ museum.accessibility}}       </br></p>
        <p><b><u>Barrio:        </u></b> {{ museum.quarter}}
           <b><u>Distrito:      </u></b> {{ museum.quarter}}             </br></p>
        <p><b><u>Teléfono:      </u></b> {{ museum.tlf_number}}          </br></p>
        <p><b><u>Email:         </u></b> {{ museum.email}}               </br></p>
        <p><a href="{{ museum.url }}">Más información en web oficial</a> </br></p>
        <hr>

        <h3> Comentarios: </h3></br>
        {% for comment in comments %}
            <div>
                <p> {{ comment.text }}                      </p></br>
                <div align='right'>                                             <!-- Help from: https://www.w3schools.com/tags/att_div_align.asp -->
                    <p><b> Publicado: {{ comment.date }}
                           {% if aut %}
                                por {{ comment.user.username }}
                           {% endif %}
                    </p></b></br>
                </div>
            </div>
        {% endfor %}
        <hr>


        {% if aut %}                                                            <!-- Help from: https://www.w3schools.com/tags/tag_textarea.asp and https://stackoverflow.com/questions/18816735/textarea-not-posting-with-form -->
            </br><h4> Publique su comentario: </h4></br>
            <form name=comment method="post">
                <textarea cols="227" rows ="10" name="Comment"></textarea>      <!-- Help from: https://stackoverflow.com/questions/12529023/textarea-cursor-not-starting-from-beginning -->
                <input type="hidden" name="Museum" value='{{museum.name}}'/>
                <input type="submit" value="Publicar comentario">
            </form>
        {% else %}
            <h3> Inicie sesión para publicar comentarios</h3>
        {% endif %}

    </section>

{% endblock %}
