{% extends "museums/base.html" %}
{% block content %}

    <section>

        <ul>
            <h2>Mostrar accesibles:</h2>
            <form method=post accept-charset='utf-8'>
                <input type='hidden' name='Change'   value='accessibility'>
                <input type='radio' onclick='this.form.submit();' {{accessible}}>              <!-- Help from: https://forums.digitalpoint.com/threads/html-checkbox-onclick-submit.1271195/ -->
            </form>
        </ul>

        <ul>
            <h1>5 Museos que más han sido seleccionados</h1>
            {% for museum in museums %}
                <div></br>
                <a href="{{ museum.url }}">{{ museum.name }}</a></br>
                <p> Dirección: {{ museum.address }}</p>
                <a href="museos/{{ museum.id }}">Mas información</a></br>
                <div align='right'>
                    <p> Seleccionado por {{ museum.num_likes }} usuarios</p>
                </div>
                {% if aut %}
                    <form method="post" action="/museos/like">
                        <input type="hidden" name="Museum" value='{{ museum.name }}'/>
                        <input type="submit" value="Seleccionar museo">
                    </form>
                {% endif %}
                <hr>
                </div>
            {% endfor %}
        </ul>

    </section>

{% endblock %}
