{% extends "museums/base.html" %}
{% block content %}
    <section>
        <div><h2>Mostrar accesibles:
            <form method=post accept-charset='utf-8'>
                <input type='hidden' name='Change'   value='accessibility'>
                <input type='radio' onclick='this.form.submit();' {{accessible}}>              <!-- Help from: https://forums.digitalpoint.com/threads/html-checkbox-onclick-submit.1271195/ -->
            </form>
        </h2></div>

            <!-- <form id="accesibles" method="post">
                <input class="boton" type="submit" value="Accesibles">
            </form>
            <h1>Aparcamientos con más comentarios</h1>
        {% for aparcamiento in aparcamientos %}
            <a href="{{ aparcamiento.url }}">{{ aparcamiento.nombre }}</a></br>
            <p> Dirección: {{ aparcamiento.direccion }}</p>
            <a href="aparcamientos/{{ aparcamiento.id }}">Mas información</a></br>
            <hr>
        {% endfor %} -->
    </section>

{% endblock %}
