{% extends "museums/base.html" %}

{% block home %}
    <li><a id="homenav" href="/">Inicio</a></li>
{% endblock %}


{% block content %}

    {% if itsuserspage %}
        <div id="style_sidebar">
            <h5>Personalice su página</h5></br>
            <form method="post">
                <p>Titulo: </p>
                <input type="text" name="Title" value="Página de {{ user.username }}">
                <p>Color de fondo: </p>
                <input type="color" name="Colour" value="#FFFFFF"></br>                       <!-- Help from: https://developer.mozilla.org/es/docs/Web/HTML/Elemento/input/color -->
                <p>Tamaño de letra: </p>
                <select name="Textsize">
                    <option value="xx-small">Pequeño</option>
                    <option value="medium">Mediano</option>
                    <option value="xx-large">Grande</option>
                </select></br></br>
                <input type="submit" value="Personalizar">
        </div>
    {% endif %}

    <div>
    <section>

        <ul>
            <h1>{{ title }}</h1>
            <p></br>Navegue por estas páginas para conocer los museos que
                    {{ user.username }} ha seleccionado. Se mostrarán de 5
                    en 5.</p>
            {% for like in liked_museums %}
                <div></br>
                <a href="{{ museum.url }}">{{ like.museum.name }}</a></br>
                <p> Dirección: {{ like.museum.address }}</p>
                <a href="/museos/{{ museum.id }}">Mas información</a></br>
                <p>Seleccionado en fecha: {{ like.date }}</p>
                <hr>
                </div>
            {% endfor %}
        </ul>

        <ul>
            <h2>Seleccione la página a la que navegar</h2></br>
            {{ page_link|safe }}
        </ul>

    </section>
</div>

{% endblock %}
